/*! CSS adapted from  type theme */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #fff;
}

.post-content h1, .excerpt h1 {
  display:none;
}


section.post-content {

}

div {
background-color:;

}

header {

}

img {
  float:right;
  width: 50%;
}

h1.title {
  font-size:2em;
  color:rgb(43, 67, 115);
  text-align: center;
  border: double;
  border-width: thick;

}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, menu, nav, section, summary {
    display: block;
}

body {
    font-family: "courier new", "Trebuchet MS", Helvetica, Arial, sans-serif;
    margin: 30px;
    font-size: 1.25em;
    max-width: 900px;
    margin: auto;
    /* background-color: rgb(251, 243, 188) ; */
    padding: 0px 50px 0px 50px
}

h1.site-title {
font-size: 2.5em;
color:rgb(22, 41, 84);
text-align: center;
padding-top: 15px);
}

h2 {
font-family:cursive: ;
width:50%;
color:rgb(22, 41, 84);
/* padding:20px 4px 20px 4px; */
}

img.cover {
float:right;
width:30%;
margin:12px;
}

ul{
/* box-sizing: content-box;
width: 300px;
height: 50px; */
width:40%;
padding: 10px;
/* border: double;
border-color:rgb(246, 197, 52); */
color: rgb(60, 122, 153);
margin: 0 inherit;
font-weight: bold;
list-style-type: square;
}

p {
font-size: 0.8em;
text-align: center;
color:rgb(22, 41, 84);
padding-bottom: 30px;
}

#info {
font-weight: bold;
color: rgb(60, 122, 153);
padding: 30px;
}



blockquote {

}


table {

}

td, th {

}


p, ol, ul {
    line-height: 1.5;
    margin-bottom: 1em;
}
ol{
  font: "courier new";
  color: rgb(22, 41, 84);
  font-size: 0.9em;


}
ul {
font-size: 0.7em;
}

li{
margin: 0.3em;
}

#next-post {
text-align: center;
color: rgb(22, 41, 84);
font-weight: bold;
}



#previous-post {
  text-align: center;
  color: rgb(22, 41, 84);
  font-weight: bold;

}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #fff;
    margin: 1em 0;
}

a {
    color: #337ab7;
    text-decoration: none
}

/* for a menu for all recipes */
ul.recipes {
  font-size: 0.6em;
  border: 1px solid gray;
  width: 15%;
  float:right;
  font-size: 60%;
  position: absolute;
  top:40px;
  right:20px;

}
