/*! CSS adapted from  type theme */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color:#D4DAD5;
}

.post-content h1, .excerpt h1 {
  display:none;
}


section.post-content {

}

div.content {
background-color: white;
padding: 25px 20px 25px 20px;
max-width: 900px; min-width: 500px;
width: auto;
margin: 12px auto 40px auto;
border-style: double;
border-width: thick;
border-color: #4D6049;

}

header {

}

img {
  float:right;
  width: 50%;
}

h1.title {
  font-family:"Balthazar", Trebuchet, serif;
  font-size:1.8em;
  /* color:rgb(43, 67, 115); */
  color: #788976;
  text-align: center;
  /* border: ;
  border-width: thick; */

}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, menu, nav, section, summary {
    display: block;
}

body {
    font-family: "Times New Roman", Tahoma , Arial, sans-serif;
    margin: 0px;
    font-size: 1.25em;
    /* max-width: 900px; */

    background-color:#D4DAD5;
    padding: 30px 50px 0px 50px;
}

h1.site-title {
font-family:"Balthazar", trebuchet, serif;
font-size: 2.5em;
color:#263D21;
text-align: center;
margin-top: 10px;
margin: 0;
}

h2 {
font-family: "Balthazar", trebuchet, serif;
width:50%;
color:#263D21;
}

img.cover {
float:right;
width:30%;
margin:12px;
}

ul{
/* box-sizing: content-box;
width: 300px;
height: 50px; */
width:40%;
padding: 10px;
/* border: double;
border-color:rgb(246, 197, 52); */
color:#1A2322;
margin: 0 inherit;
font-weight: bold;
font-size: 1em
list-style-type: square;
}

p {
font-size: 0.8em;
text-align: center;
color:#263D21;
padding-bottom: 30px;
}

#info {
font-weight: bold;
color:#788976;
padding: 30px;
}



blockquote {

}


table {

}

td, th {

}


p, ol, ul {
    line-height: 1.5;
    margin-bottom: 1em;
}
ol{
  font: "Times New Roman";
  color:#1A2322;
  font-size: 0.9em;


}
ul {
font-size: 0.8em;
color: #263D21;
}

li{
margin: 0.3em;
}

#next-post {
font-family: "Trebuchet";
font-size: 1;
text-align: center;
color: rgb(22, 41, 84);
font-weight: bold;
}



#previous-post {
  text-align: center;
  color: rgb(22, 41, 84);
  font-weight: bold;

}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #fff;
    margin: 1em 0;
}

a {
  /* font-family: "Metamorphous", Trebuchet; */
  font-family: 'Metamorphous', cursive;
    color: #263D21;
    text-decoration: none
}

/* for a menu for all recipes */
ul.recipes {
  font-size: 0.6em;
  border: 1px solid gray;
  width: 15%;
  float:right;
  font-size: 60%;
  position: absolute;
  top:40px;
  right:20px;

}
